<div class="row vh-100 mt-5">
  <div class="col  mt-5">
    <div class="header d-flex justify-content-center">
      <p class="h1">
        Example Dynamic Form
      </p>
    </div>

    <section>

      <div class="col-12 mt-5">
        <p class="h3 mb-1">Values</p>
        {{registrationForm.value | json}}
      </div>

      <form class="mt-5"  [formGroup]="registrationForm">
        <div class="row form">

          <div class="col-12" *ngFor="let control of dynamicFormArray">

            <div [ngSwitch]="control.Type">

              <!-- inpurts normales -->
              <div *ngSwitchCase="'input'">
                <div class="col-md-4">
                  <label>{{control.Label}}</label>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" [formControlName]="control.ID">
                </div>
              </div>

              <!-- radio buttons -->
              <div *ngSwitchCase="'radio'">
                <div class="col-md-4">
                  <label>{{control.Label}}</label>
                </div>

                <label class="radio m-1" *ngFor="let val of control.Value.split(',')">
                  <input type="radio" name="{{control.ID}}" value="{{val}}" [formControlName]="control.ID">
                  {{val}}
                </label>
              </div>


              <!-- datepickers -->
              <div *ngSwitchCase="'date'">
                <div class="col-md-4">
                  <label>{{control.Label}}</label>
                </div>
                <div class="col-md-6">
                  <input type="date" class="form-control" [formControlName]="control.ID">
                </div>
              </div>

              <!-- selects -->
              <div *ngSwitchCase="'select'">
                <div class="col-md-4">
                  <label>{{control.Label}}</label>
                </div>
                <div class="col-md-6">
                  <select class="form-control" [formControlName]="control.ID">
                    <option value="-1">Select</option>
                    <option *ngFor="let val of control.Value.split(',')" value="{{val}}"> {{val}} </option>
                  </select>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="mt-5 mb-5">
          <button type="submit" class="btn btn-outline-success" >Submit</button>
        </div>
      </form>
    </section>
  </div>
</div>
